/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif !important;
}

body {
  min-height: 100vh;
}
nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(255, 204, 197, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 1140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0 15px;
}
.navbar .logo a {
  font-size: 24px;
  color: rgba(90, 90, 90, 1);
  text-decoration: none;
  font-weight: 500;
}
nav .navbar .nav-links {
  line-height: 70px;
  height: 100%;
}
nav .navbar .links {
  display: flex;
  column-gap: 23px;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}

nav .navbar .links li .sub-menu li {
  padding: 0 8px 0 14px;
}

nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: rgba(90, 90, 90, 1);
  font-size: 16px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li:hover .arrow:not(.sub-menu .arrow) {
  color: rgba(255, 84, 62, 1);
}

nav .navbar .links li .arrow {
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: rgba(90, 90, 90, 1);
  transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu .arrow {
  line-height: 40px;
}

nav .navbar .links li .sub-menu,
nav .navbar .links li .sub-menu .deep-sub-menu {
  width: 256px;
  position: absolute;
  /* padding: 0 20px; */
  top: 52px;
  left: 38px;
  line-height: 40px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 4px 33px rgba(0, 0, 0, 0.18);
  display: none;
  z-index: 2;
}
nav .navbar .links li .sub-menu .deep-sub-menu {
  top: 6px;
  left: 268px;
}
nav .navbar .links li:hover > .sub-menu,
nav .navbar .links li > .sub-menu li:hover > ul.deep-sub-menu {
  display: block;
  padding-left: 0;
}
.navbar .links li .sub-menu li {
  /* padding: 0 22px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar .links li .sub-menu a {
  color: rgba(90, 90, 90, 1);
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 268px;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
  padding-left: 0;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}
.navbar .try-btn a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  background-color: rgba(36, 37, 41, 1);
  padding: 10.5px 14px;
  color: rgba(255, 255, 255, 1);
  border-radius: 6px;
}
.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}

nav .navbar .links li:hover a:not(.sub-menu li a) {
  color: rgba(255, 84, 62, 1);
}

.nav .navbar .links li > ul.sub-menu > li:hover a {
  color: rgba(255, 84, 62, 1);
}

.navbar .links .try-btn-mobile {
  display: none;
}

/* ======== hero section ========== */

.heroSection {
  background: url("./assets/hero-img-02.png");
  background-repeat: no-repeat;
  height: 614px;
  background-position: bottom right;
}

.heroSection .heroSection-images img:nth-of-type(1) {
  left: 0;
}
.heroSection .heroSection-images img:nth-of-type(2) {
  top: 28rem;
  left: -10rem;
}
.heroSection-content {
  max-width: 693px;
  padding-top: 129px;
}
.heroSection-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  max-width: 456px;
}
.heroSection-content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  color: rgba(142, 142, 142, 1);
}

.heroSection-content input[type="submit"] {
  background: rgba(255, 84, 62, 1);
  color: #fff;
  font-size: 18px;
  padding: 15px;
  line-height: 24px;
  border-radius: 6px;
  border: none;
}
.heroSection-content input[type="email"] {
  width: 350px;
  height: 54px;
  border-radius: 6px;
  padding-left: 50px;
}
.heroSection-content input[type="email"]::placeholder {
  font-size: 18px;
  font-weight: 500px;
}

.heroSection-content form div img {
  top: 14px;
  left: 18px;
}

.heroSection-content .bg-customerService {
  background-color: rgba(255, 204, 197, 1);
}
.heroSection-content ul {
  font-size: 16px;
  font-weight: 500;
}

.section-02 {
  padding: 60px 0;
  background-color: rgba(245, 245, 245, 1);
}

.section-02 h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  max-width: 522px;
  margin-bottom: 9px;
}
.section-02 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 32px;
  color: rgba(142, 142, 142, 1);
}
.section-02 a {
  background: rgba(255, 84, 62, 1);
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 32px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
}
.section-02 .section-02-content {
  max-width: 516px;
  padding-bottom: 47px;
}

/* section-04 CSS */
.section-04 {
  background-color: lightblue;
  padding: 60px 0;
}
.section-04 .section-04-content {
  max-width: 635px;
}
.section-04 .accordion-button::after {
  background-image: url(./assets/plus-lg.svg) !important;
}

.section-04 .section-04-content h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
}

.section-04-content h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
}
.section-04 .section-04-content a {
  background: rgba(255, 84, 62, 1);
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 32px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
}

.section-04 .accordion-flush .accordion-item .accordion-button {
  padding: 0 10px;
  border-radius: 4px;
}
.section-04 .accordion-flush .accordion-item {
  border: 0;
  margin-bottom: 20px;
  border-radius: 4px;
}
.section-04 .accordion-flush .accordion-item:last-child {
  margin-bottom: 50px;
}

/* section-06 */

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 41px 40px 24px;
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  height: 100%;
  border-top: 19px solid #fff;
}

.pricing h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  color: rgba(255, 84, 62, 1);
}
.pricing .section-title p {
  font-size: 24px;
  font-weight: 500px;
  line-height: 32px;
  color: rgba(142, 142, 142, 1);
}

.pricing .box img {
  margin-bottom: 20px;
}

.pricing .box p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: rgba(142, 142, 142, 1);
  width: 256px;
}
.pricing .box .priceBox-end p {
  font-size: 14px;
  font-weight: 500px;
  color: rgba(142, 142, 142, 1);
  line-height: 23px;
}
.pricing h3 {
  font-weight: 500;
  margin-bottom: 15px;
  white-space: nowrap !important;
  font-size: 24px;
  color: rgba(36, 37, 41, 1);
}

.pricing h4 {
  font-size: 32px;
  color: rgba(36, 37, 41, 1);
  font-weight: 600;
  /* font-family: "Jost", sans-serif; */
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 32px;
}

.pricing h4 span {
  color: rgba(36, 37, 41, 1);
  font-size: 16px;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0 10px 30px;
  position: relative;
}

.pricing ul i {
  color: #28a745;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 6px;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 12px 83px;
  border-radius: 4px;
  color: #47b2e4;
  transition: none;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}

.pricing .buy-btn:hover {
  background: #47b2e4;
  color: #fff;
}

.pricing .featured {
  border-top-color: #47b2e4;
}
.pricing .essentialBox {
  border-top-color: rgba(254, 106, 36, 1);
}
.pricing .enterpriseBox {
  border-top-color: rgba(37, 75, 90, 1);
}
.pricing .enterpriseBox p {
  margin-bottom: 42px;
}

.pricing .essentialBox .buy-btn {
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
}
.pricing .enterpriseBox .buy-btn {
  background-color: rgba(37, 75, 90, 1);
  color: #fff;
  text-decoration: none;
}

.pricing .featured .buy-btn {
  background: rgba(30, 153, 204, 1);
  color: #fff;
  text-decoration: none;
}

.pricing .featured .buy-btn:hover {
  background: #23a3df;
}
.pricing .priceBox-end {
  margin-top: 72px;
}

/*============= footer CSS ===============*/

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
  background: rgba(255, 84, 62, 1);
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #fff;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 26px;
}
.footer-logo a {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-decoration: none;
  color: #fff;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 26px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  /* display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px; */
}
.footer-widget ul li a:hover {
  color: #474341;
}
.footer-widget ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #fff;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 1px;
  background: rgba(255, 223, 185, 1);
  padding: 13px 32px;
  border: none;
  top: 2px;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: rgb(255 84 62);
  padding: 25px 0;
}

.copyright-area .container .row {
  border-top: 1px solid #fff;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #3d3a38;
}
.footer-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
}

.fab {
  font-family: "Font Awesome 6 Brands" !important;
}
.footer-section .footer-content .navLink-footer {
  max-width: 600px;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

@media screen and (max-width: 1199px) and (min-width: 1101px) {
  .heroSection .heroSection-content h1 {
    font-size: 36px;
    line-height: 36px;
  }
  .heroSection-content p {
    width: 314px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }
  .section-02 .section-02-img img {
    width: 378px;
  }
}

/* contact section CSS */

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 30px;

  width: 100%;
}

.contact .info i {
  font-size: 20px;
  color: #47b2e4;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5fb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #37517e;
}

.contact .info p {
  font-size: 14px;
  color: #6182ba;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #47b2e4;
  color: #fff;
}
.contact .info .address,
.contact .info .email,
.contact .info .phone {
  border: 1px solid #f1eded;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #47b2e4;
  color: #fff;
}

.contact .info .info-titles h3 {
  font-size: 18px;
  font-weight: 500;
}
.contact .info .info-titles h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
}
.contact .info p {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
}

.contact .php-email-form {
  width: 100%;
  padding: 29px 47px;
  background-color: rgba(248, 249, 252, 1);
  /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12); */
  border-radius: 12px;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 16px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #47b2e4;
}

.contact .php-email-form input {
  height: 56px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  display: block;
  width: 100%;
  background: rgba(255, 84, 62, 1);
  border: 0;
  padding: 12px 34px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #209dd8;
}

.section-05 {
  background-color: rgba(29, 29, 29, 1);
}

.section-05 h2 {
  font-size: 44px;
  font-weight: 600;
  line-height: 52px;
  padding-bottom: 19px;
  border-bottom: 4px solid rgba(208, 28, 31, 1);
  margin-bottom: 0;
}
.section-05 .steps .number {
  font-size: 96px;
  font-weight: 600;
  color: rgba(255, 84, 62, 1);
}

.section-05 .steps .stepName {
  font-size: 24px;
}

.section-05 .phase-02 p {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 0px;
}

.section-05 .phase-02 .stepName {
  margin-left: 16px;
}
.section-05 .phase-02 {
  font-size: 10px;
  max-width: 689px;
}

.section-05 .arrow-right {
  margin-top: -28px;
  margin-left: 120px;
  margin-bottom: -17px;
}
.section-05 .arrow-left {
  margin-top: -22px;
  margin-right: 138px;
  margin-bottom: -11px;
}

.section-05 .phase-01 p {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 10px;
}
.section-05 .phase-01 {
  font-size: 10px;
  max-width: 689px;
}

.section-05 .section-05-title {
  margin-bottom: 24px;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .heroSection {
    background: url("./assets/768/hero-img-768.png");
    background-repeat: no-repeat;
    height: 614px;
    background-position: top right;
  }

  .heroSection-content form {
    margin-top: 84px;
  }

  .heroSection .heroSection-content {
    padding-top: 83px;
  }
  .heroSection .heroSection-content h1 {
    font-size: 28px;
    line-height: 36px;
    max-width: 285px;
  }

  .heroSection-content p {
    width: 314px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }

  .try-btn-mobile {
    display: block;
  }
  nav .navbar .links li:hover > .sub-menu,
  nav .navbar .links li > .sub-menu li:hover > ul.deep-sub-menu {
    display: none;
  }
  nav .navbar .links li > .show1 {
    display: block !important;
  }

  .try-btn {
    display: none;
  }

  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 360px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu,
  nav .navbar .links li .sub-menu .deep-sub-menu {
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
    max-width: 200px;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
  .navbar .links .try-btn-mobile {
    display: block;
  }

  /* section-02 css */

  .section-02 .section-02-content h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 39px;
  }
  .section-02 .section-02-content a {
    font-size: 16px;
    padding: 11px 12px;
  }
  .section-02 .section-02-img img {
    width: 279px;
  }
  .contact .info p {
    font-size: 14px;
  }
  .contact .info .info-titles h3 {
    font-size: 16px;
  }
  .contact .info .info-titles h2 {
    font-size: 24px;
    line-height: 39px;
  }
  .contact .info .info-titles p {
    font-size: 16px;
    line-height: 26px;
  }
  .contact .info {
    padding: 0;
  }
  .contact .php-email-form {
    padding: 24px 16px;
  }
  .contact .php-email-form input {
    height: 45px;
  }
  .contact .php-email-form .form-group {
    margin-bottom: 6px;
  }
  .contact .php-email-form textarea {
    height: 176px;
  }

  /* section 05 css */
  /* 
  .section-05 .steps .number {
    font-size: 24px;
  }

  .section-05 .steps .stepName {
    font-size: 16px;
  }
  .section-05 .steps {
    align-items: baseline !important;
  }
  .section-05 .phase-01 p {
    font-size: 12px;
  }
  .section-05 .phase-01 img {
    width: 50px;
    height: 50px;
  }
  .section-05 .phase-02 img {
    width: 50px;
    height: 50px;
  }
  .section-05 .phase-01 {
    max-width: 500px;
  }
  .section-05 .phase-02 {
    max-width: 436px;
  }
  .section-05 .arrow-left {
    margin-top: 0px;
    margin-right: 192px;
    margin-bottom: 0px;
  }
  .section-05 .phase-02-parent {
    justify-content: start !important;
  }
  .section-05 .arrow-right {
    margin-top: -4px;
    margin-left: -142px;
    margin-bottom: 0px;
  }
  .section-05 .fundamental-step {
    margin-left: 10px;
  } */
}
@media (max-width: 920px) {
  nav .navbar .logo a {
    font-size: 27px;
  }
  nav .navbar .links li {
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 15px;
  }
  /* .contact .info .info-titles h3 {
    font-size: 16px;
  }
  .contact .info .info-titles h2 {
    font-size: 24px;
    line-height: 39px;
  }
  .contact .info p {
    font-size: 16px;
    line-height: 26px;
  } */
}

@media (max-width: 800px) {
  .heroSection .heroSection-content {
    padding-top: 83px;
  }
  .heroSection .heroSection-content h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .heroSection-content p {
    width: 314px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }

  nav {
    /* position: relative; */
  }
  .try-btn-mobile {
    display: block;
  }

  .try-btn {
    display: none;
  }

  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 360px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 25px;
    color: rgba(36, 37, 41, 1);
  }
  nav .navbar .links {
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow {
    line-height: 40px;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}

@media (max-width: 767px) {
  .heroSection {
    background: url("./assets/375px/hero-img-375.png");
    background-repeat: no-repeat;
    height: 800px;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .heroSection-content form {
    margin-top: 0;
  }
  .heroSection .heroSection-content h1 {
    font-size: 22px;
    text-align: center;
  }
  .heroSection-content p {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  .heroSection-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* section-02 css */

  .section-02 {
    padding: 36px 0;
  }

  .section-02 .section-02-content {
    padding-bottom: 0;
  }
  .section-02 .section-02-content h2 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 14px;
  }
  .section-02 .section-02-content p {
    font-size: 14px;
    line-height: 24px;
  }
  .section-02 .section-02-content img {
    margin-bottom: 24px;
  }
  .contact .info .info-titles h3 {
    text-align: center;
  }
  .contact .info .info-titles h2 {
    text-align: center;
  }
  .contact .info .info-titles p {
    text-align: center;
  }

  .section-05 .arrow-left {
    display: none !important;
  }
  .section-05 .arrow-right {
    display: none !important;
  }
  .section-05 .steps .number {
    font-size: 24px;
  }
  .section-05 .steps .stepName {
    font-size: 14px;
  }
  .section-05 .phase-02 .stepName {
    margin: 10px 0;
  }
  .section-05 .phase-02 img {
    width: 65px;
    height: 65px;
  }
  .section-05 .phase-01 img {
    width: 65px;
    height: 65px;
  }
  .section-05 .phase-01 p {
    margin-left: 0;
    text-align: center;
    font-size: 14px;
  }
  .section-05 .phase-02 p {
    text-align: center;
    font-size: 14px;
  }
  .section-05 .fundamental-step {
    margin-bottom: 25px;
  }
  .section-05 .phase-02 {
    margin-bottom: 25px;
  }
}

@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

@media (min-width: 576px) {
  nav .navbar {
    max-width: 540px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  nav .navbar {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media (min-width: 992px) {
  nav .navbar {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  nav .navbar {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  nav .navbar {
    max-width: 1320px;
  }
}
