@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color:#FF7900;
$secondary-color:#5BC180;
$tertiary-color:#C8E7D0;
$font-family: 'Roboto', sans-serif;
$font-weight: (
    "thin":100,
    "light":300,
    "regular":400,
    "medium":500,
    "bold":700,
    "black":900

);